*{
	margin: 0;
	padding:0;
}
body{
	text-align: center;
}
.box{
	display: inline-block;
	width:400px;
	margin-top: 100px;
}
#body1{
	width:300px;
	float:left;
}
#body2{
	width:100px;
	float:right;
}
header{
	background:black;
	height:200px;
	width: 400px;
}
#body1 div{
	height: 100px;
	width: 100px;
	background-color: darkgray;
	float:left;
}
#body2 div{
	height: 100px;
	width: 100px;
	background-color: darkgray;
	float:left;
}
div p{
	line-height: 100px;
	font-size: 40px;
	color:white;
}
div a{
	line-height: 100px;
	font-size: 38px;
	color:white;
	text-decoration: none;
}